# ide
.vscode

# database
/postgres

# Environment variables
.env*
!.env.example

# Automatic database init tar
db/db_init.tar

# misc
.DS_Store
.prettierrc

/.idea
selenium/main.py
selenium/chromedriver.exe
node_modules

ignore_me

dbbackup

# Build artefacts and temporary output
**/.turbo
*.tsbuildinfo
**/src/**/*.d.ts

#######
# TEMP
#######
database
documentation
frontend
server

!apps/*
!packages/*
#######
# TEMP
#######
