DATABASE_URL=""

GOOGLE_MAP_API_KEY=

JWT_SECRET="in-production-replace-this-with-a-long-random-value"
JWT_EXPIRY=

PROJECT_RATING_AVG=
PROJECT_RATING_COUNT=
PROPOSAL_RATING_AVG=
PROPOSAL_RATING_COUNT=

STRIPE_PRICE_BUSINESS=
STRIPE_PRICE_COMMUNITY=
STRIPE_PRICE_MUNICIPAL=
STRIPE_SECRET_KEY=
