AWS_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_SECRET_KEY=

CORS_ORIGIN=

DATABASE_URL=""

DEEPINFRA_API_KEY=

EMAIL=
EMAIL_PASSWORD=

GOOGLE_MAP_API_KEY=

JWT_EXPIRY=
JWT_SECRET="in-production-replace-this-with-a-long-random-value"

PROJECT_RATING_AVG=
PROJECT_RATING_COUNT=
PROPOSAL_RATING_AVG=
PROPOSAL_RATING_COUNT=

STRIPE_PRICE_BUSINESS=
STRIPE_PRICE_COMMUNITY=
STRIPE_PRICE_MUNICIPAL=
STRIPE_SECRET_KEY=
