# Application
APP_URL=
EXPRESS_PORT=
REDIRECT_URI=
CORS_ORIGIN=

# Email Credentials
APPLICATION_PASSWORD=
EMAIL=
EMAIL_PASSWORD=

# AuthN/AuthZ
JWT_EXPIRY=
JWT_SECRET=

# AWS
AWS_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_SECRET_KEY=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_MAP_API_KEY=
GOOGLE_REFRESH_TOKEN=

# Stripe
STRIPE_BUSINESS_PRODUCT_KEY=
STRIPE_COMMUNITY_PRODUCT_KEY=
STRIPE_SECRET_KEY=

# Deepinfra
DEEPINFRA_API_KEY=

# Feature flags and config
PROJECT_RATING_AVG=
PROJECT_RATING_COUNT=

PROPOSAL_RATING_AVG=
PROPOSAL_RATING_COUNT=
